#
# Ci-dessous les variables pour configurer les conteneurs
# Marche à suivre:
#   il faut copier ce fichier dans un fichier .env
#   avant de démarrer l'application avec docker-compose up
#

##########################
# Parametres globaux
##########################
# Caping for containers
MEM_LIMIT=5g
CPU_LIMIT=5

######################################################
## Parametres OpenTelemetry
######################################################
OTEL_ENVIRONMENT="local"
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_ENDPOINT=http://diplotaxis7-dev.v212.abes.fr:4318
OTEL_EXPORTER_OTLP_PROTOCOL_GRPC=grpc
OTEL_EXPORTER_OTLP_ENDPOINT_GRPC=http://diplotaxis7-dev.v212.abes.fr:4317
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp
OTEL_TRACES_EXPORTER=otlp
## A retrouver avec cat /etc/group | grep docker
OTEL_DOCKER_GROUP_ID=